<!DOCTYPE html>
<html>
<head>
    <title>WeVer | Home</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="https://cdn.discordapp.com/avatars/938944339072126997/06e310b8c203a9d347dd85240228a0a8.webp" />
</head>
<body>
<center>
    <h1>WeVer</h1>
    <p>Discord verification bot.</p>
</center>
</body>
</html>