<!DOCTYPE html>
<html>
<head>
    <title>WeVer | <%= tag %></title>
    <link rel="stylesheet" href="style.css" />
    <link rel="icon" href="https://cdn.discordapp.com/avatars/938944339072126997/06e310b8c203a9d347dd85240228a0a8.webp" />
</head>
<body>
    <center>
        <h1><%= tag %></h1>
        <h3 class="lower2">Status: Verified</h3>
        <h3 class="lower">Role: <%= role %></h3>
    </center>
</body>
<style>
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        background: rgb(10, 16, 22);
    }

    .lower {
        margin-top: 0;
    }
    .lower2 {
        margin-bottom: 0;
    }
</style>
</html>