<!DOCTYPE html>
<html>
<head>
    <title>Website</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <center>
        <h1><%= tag %></h1>
        <h3 class="lower2">Status: Verified</h3>
        <h3 class="lower">Role: <%= role %></h3>
    </center>
</body>
<style>
    body {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        color: #fff;
        background: rgb(10, 16, 22);
    }

    .lower {
        margin-top: 0;
    }
    .lower2 {
        margin-bottom: 0;
    }
</style>
</html>